<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- the pool and the container runtime log at debug, which drowns the test output -->
        <Logger name="com.zaxxer.hikari" level="warn"/>
        <Logger name="org.testcontainers" level="info"/>
        <Logger name="com.github.dockerjava" level="warn"/>
        <Logger name="tc" level="info"/>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>